body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: gray;
    font-family: 'Indie Flower', cursive;
}

h1 {
    background-color: gray;
    text-align: center;
    font-size:3em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    height: 100vh;
}

.left p {
    margin: 1em 1em 0 1em;
    font-size: 1.5em;
}

.left h1 {
    font-size: 1.5em;
    margin: 0.5em 1em 0 0.5em;
}

.left {
    
    color: white;
    background-color: gray;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:3em;
}





.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
    width: 15vw;
    text-align: center;
    margin-right:3em;
    margin-bottom:6em;
}

.right h2 {
    font-size: 1.5em;
}


main {
    font-size: 1.5em;
}


.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 50vw;

    height: auto;
    padding: 0;
    margin: 0;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 27vw;
    height: 27vh;
    font-size: 2em;
    text-align: center;
    border-radius: 7px;
}

.top-left,
.mid-left {
    border-top: none;
    border-left: none;
}

.bot-left {
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.top-right,
.mid-right {
    border-top: none;
    border-right: none;
}

.bot-right {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.top-middle,
.mid-middle {
    border-top: none;
}

.bot-middle {
    border-top: none;
    border-bottom: none;
}